version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: rustore_db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5436:5432" # был выбран порт 5436, так как порты с 5432 до 5435 заняты
    restart: unless-stopped

volumes:
  postgres_data: